# 
# RUN "git config --local include.path ../.gitconfig" AFTER CLONING TO ADD THESE TO THE REPOSITIORY CONFIG
# 

[core]
  pager = less
  safecrlf = true
[push]
  default = upstream
[credential]
  helper = cache --timeout=43200
[branch]
  autosetuprebase = remote
[color]
  ui = auto
  status = auto
  branch = auto
[alias]
  b = branch
  b-a = branch -a
  s = status
  l = log --oneline --decorate --graph --all
  ll = log --stat --abbrev-commit
  d = diff --color-words
  lsf = ls-files
  ls-ignored = ls-files . --ignored --exclude-standard --others
  ls-untracked = ls-files . --exclude-standard --others
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort

