DPE/standalone/DPE_vsim/DPE.cr.mti
DPE/standalone/DPE_vsim/*.wlf
DPE/standalone/DPE_vsim/*.nfs*
DPE/standalone/DPE_vsim/transcript
DPE/standalone/DPE_vsim/rocco_CSA
DPE/standalone/DPE_vsim/work
*.pvl
*.mr
*.syn
*.svf
*.alib
*.log

